<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>



  <div class="banner">
    <img src="/imgs/Banner.png" width="1200px">
  </div>
  

<%- include ('partials/footer.ejs') %>
