<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="header-login">
    <div class="memori-logo">
      <img src="/imgs/logo-quadrado.png" height="80px">
    </div>
  </div>
  
  <div class="wrapper-login">

    <div class="tela-login">

      <form>
        <h4>Olá, Faça o seu login!</h4> <hr>
      <label> Usuário:</label><br>
      <input type="text" name="nome" placeholder="Digite seu nome de usuário" class="form-input"><br>
      <label> Senha:</label><br>
      <input type="password" name="username" placeholder="Digite a sua senha" class="form-input"><br>
      <br>
      <div class="div-botao">
       <button class="button-cadastro"><a href="/">Entrar</a></button>
    </div>
      </form>

      </div>

      <div class="form-login">
        <img src="/imgs/Celulares.png" height="500px">

    </div>

  </div>


<%- include ('partials/footer.ejs') %>