<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>
<%- include ('partials/headerUsuarios.ejs') %>



<div class="container-formulario">
    <h3> Registro de Usuários </h3>
    <hr>
    <div class="wrapper">
    <div class="cadastrar">
        <h4> Cadastrar novo Usuário </h4>
        <hr>
        <form action="/clientes/new" method="POST">
            <div class="inserir-dados">
            <label> Nome:</label>
            <input type="text" name="nome" placeholder="Digite o nome completo" class="form-input" required>
            <label> Nome de usuário:</label>
            <input type="text" name="username" placeholder="Digite o nome de usuário" class="form-input" required>
            <label> E-mail:</label>
            <input type="email" name="username" placeholder="Digite o e-mail" class="form-input" required>
            <label>Senha:</label>
            <input type="password" name="username" placeholder="Digite a senha" class="form-input" required>
            <br><br>
            <hr>
            <label> Permissões:</label><br>
            <input type="checkbox" name="editor" placeholder="Digite o nome de usuário"  >
            <label for="editor" class="texto-checkbox"> Editor</label>
            <input type="checkbox" name="leitor" placeholder="Digite o nome de usuário" > 
            <label for="leitor" class="texto-checkbox"> Leitor</label>
            <div class="div-botao">
                <button name="cadastrar-usuario" class="button-cadastro"> Cadastrar </button>
            </div>
            </div>
        </form>
    </div>


    <div class="consultar">
        <h4> Consultar Usuários </h4>
        <hr>
        <table>
          
        </table>
    </div>
</div>
    
</div>

<%- include ('partials/footer.ejs') %>
